name: CI

on:
  pull_request:
    paths:
      - "src/**"
      - "tests/**"
      - "pyproject.toml"
      - "uv.lock"
      - ".pre-commit-config.yaml"
      - ".github/workflows/ci.yml"
  push:
    branches: [main]
    paths:
      - "src/**"
      - "tests/**"
      - "pyproject.toml"
      - "uv.lock"
      - ".pre-commit-config.yaml"
      - ".github/workflows/ci.yml"

permissions:
  contents: read

jobs:
  pre-commit:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: install dependencies
        run: uv sync

      - name: check lockfile is up to date
        run: |
          if ! uv lock --check; then
            echo "lockfile is out of date!"
            echo "to update the lockfile, run 'uv lock'."
            exit 1
          fi
          echo "lockfile is up to date"

      - name: run prek
        run: uv run prek run --all-files
        env:
          SKIP: no-commit-to-branch

  test:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: install dependencies
        run: uv sync

      - name: run tests
        run: uv run pytest -v
